.cart-body{
    height: 220px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cart-empty{
    margin: 50px auto;
    font-weight: 500;
    font-size: 20px;
}
.checkout-btn{
    margin: 15px 0 0 0;
}